@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@model RepairPlatform.Web.Pages.Login_Logout.LogoutModel
@{
    ViewData["Title"] = "Изход";
    ViewData["IsLogoutPage"] = true;
}

<h2>Изход</h2>

<h2>Успешно излязохте от акаунта си.</h2>
<a href="/Index">Върни се в началото</a>
