@page
@model RepairPlatform.Web.Pages.Reservation.FailedReservationModel
@{
}

<h2>Reservation Failed</h2>
<p>There was an issue with your reservation. Please try again.</p>
<a href="/Reservation/ReservationForm" class="btn btn-danger">Try Again</a>