@page
@model RepairPlatform.Web.Pages.Views.Repairguy.RepairguyProfileChangePasswordModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "RequireRepairGuyRole")]
@{
    ViewData["Title"] = "Парола";
    var message = TempData["Message"] as string;
    var messageType = TempData["MessageType"] as string;
}

<h2>Управлявай своя акаунт</h2>
<h3>Промени настройките на своя акаунт</h3>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert @(messageType == "success" ? "alert-success" : "alert-danger")">
        @message
    </div>
}


<div class="row">
    <div class="col-md-4">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" asp-page="/Views/Repairguy/RepairguyProfileSettings">Профил</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Views/Repairguy/RepairguyProfileDetails">Детайли</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-page="/Views/Repairguy/RepairguyProfileChangePassword">Парола</a>
            </li>
        </ul>
    </div>

    <h2>Change Password</h2>

    
        <div class="col-md-8">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.OldPassword" class="control-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword" class="control-label"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
