@page
@model RepairPlatform.Web.Pages.ContactSupportModel
@{
    ViewData["Title"] = "Контакти";
}

<div class="text-center">
    <h1>Контакти</h1>
    <p>If you need assistance, please contact our support team at support@example.com or call 123-456-7890.</p>
</div>
