@page "/Register/RegisterSuccess"
@model RepairPlatform.Web.Pages.Register.RegistrationSuccessModel
@{
    ViewData["Title"] = "Успешна регистрация";
}

<div class="text-center">
    <h1>Успешна регистрация!</h1>
    <p>Вие се регистрирахте успешно. Вече можете да влезете в платформата.</p>
    <a class="btn btn-primary" href="/Login_Logout/Login">Вход</a>
</div>