@page "/Register/RegisterFail"
@model RepairPlatform.Web.Pages.Register.RegistrationFailModel
@{
    ViewData["Title"] = "Неуспешна регистрация";
}

<div class="text-center">
    <h1>Неуспешна регистрация</h1>
    <p>За съжаление не успяхте да се регистрирате успешно. Моля, опитайте се по-късно или се свържете с нас.</p>
    <a class="btn btn-primary" href="/RegisterSelection">Опитай пак</a>
    <a class="btn btn-secondary" href="/ContactSupport">Контакти</a>
</div>